:root {
  --brand-color-l: 50%;
  --brand-color-c: 0.1;
  --brand-color-h: 0;

  /* ADDITION 0.0018 * 10% */
  /* SUBTRACTION 0.0022 * 10% */

  /* DEFAULT VARIABLES */
  --pre-color: oklch(80% 0 0);
  --type-color: oklch(50% 0 0);
  --cloze-color: oklch(50% 0.28 264);

  --type-bad-bg: oklch(80% 0.114 20);
  --type-good-bg: oklch(80% 0.114 144);
  --type-missed-bg: oklch(80% 0 0);

  --font-family-primary: arial, sans-serif;
  --font-family-mono: 'MesloLGL NF', Menlo, monospace;

  --bg-primary: oklch(calc(var(--brand-color-l) + 46%) calc(var(--brand-color-c) - 0.0828) var(--brand-color-h));
  --bg-secondary: oklch(calc(var(--brand-color-l) + 42%) calc(var(--brand-color-c) - 0.0756) var(--brand-color-h));
  --bg-tertiary: oklch(calc(var(--brand-color-l) + 38%) calc(var(--brand-color-c) - 0.0684) var(--brand-color-h));
  --bg-quaternary: oklch(calc(var(--brand-color-l) + 34%) calc(var(--brand-color-c) - 0.0612) var(--brand-color-h));

  --color-primary: oklch(calc(var(--brand-color-l) - 16%) calc(var(--brand-color-c) - 0.0352) var(--brand-color-h));
  --color-secondary: oklch(calc(var(--brand-color-l) - 10%) calc(var(--brand-color-c) - 0.022) var(--brand-color-h));
  --color-tertiary: oklch(calc(var(--brand-color-l) + 10%) calc(var(--brand-color-c) - 0.018) var(--brand-color-h));
  --color-quaternary: oklch(calc(var(--brand-color-l) + 16%) calc(var(--brand-color-c) - 0.0288) var(--brand-color-h));

  --input-bg: oklch(calc(var(--brand-color-l) + 48%) calc(var(--brand-color-c) - 0.0864) var(--brand-color-h));
  --notes-bg: oklch(calc(var(--brand-color-l) + 44%) calc(var(--brand-color-c) - 0.0792) var(--brand-color-h));
  --pre-bg: oklch(calc(var(--brand-color-l) - 24%) calc(var(--brand-color-c) - 0.0528) var(--brand-color-h));
}

/* NIGHTMODE VARIABLES */
.nightMode {
  --pre-color: oklch(80% 0 0 / 75%);
  --type-color: oklch(40% 0 0);
  --cloze-color: oklch(60% 0.2 264 / 90%);

  --type-bad-bg: oklch(80% 0.114 20 / 75%);
  --type-good-bg: oklch(80% 0.114 144 / 75%);
  --type-missed-bg: oklch(80% 0 0 / 75%);

  --bg-primary: oklch(calc(var(--brand-color-l) - 26%) calc(var(--brand-color-c) - 0.0572) var(--brand-color-h));
  --bg-secondary: oklch(calc(var(--brand-color-l) - 22%) calc(var(--brand-color-c) - 0.044) var(--brand-color-h));
  --bg-tertiary: oklch(calc(var(--brand-color-l) - 18%) calc(var(--brand-color-c) - 0.0308) var(--brand-color-h));
  --bg-quaternary: oklch(calc(var(--brand-color-l) - 14%) calc(var(--brand-color-c) - 0.0176) var(--brand-color-h));

  --color-primary: oklch(calc(var(--brand-color-l) + 16%) calc(var(--brand-color-c) - 0.0288) var(--brand-color-h));
  --color-secondary: oklch(calc(var(--brand-color-l) + 10%) calc(var(--brand-color-c) - 0.018) var(--brand-color-h));
  --color-tertiary: oklch(calc(var(--brand-color-l) + 4%) calc(var(--brand-color-c) - 0.0072) var(--brand-color-h));
  --color-quaternary: oklch(calc(var(--brand-color-l) - 2%) calc(var(--brand-color-c) - 0.0044) var(--brand-color-h));

  --input-bg: oklch(calc(var(--brand-color-l) - 28%) calc(var(--brand-color-c) - 0.0638) var(--brand-color-h));
  --notes-bg: oklch(calc(var(--brand-color-l) - 24%) calc(var(--brand-color-c) - 0.0506) var(--brand-color-h));
  --pre-bg: oklch(calc(var(--brand-color-l) - 32%) calc(var(--brand-color-c) - 0.0704) var(--brand-color-h));
}

/* DEFAULT STYLES */
@font-face {
  font-family: 'Inconsolata';
  src: url('_inconsolata-regular.woff2') format('woff2'), url('_inconsolata-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div:not(.float-start, .float-end, #ansarea, .justify-content-center, .d-flex > div) {
  margin: 0 auto;
  width: 100%;
}

a {
  color: currentColor;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all 250ms;

  &:hover {
    color: var(--cloze-color);
  }
}

code,
input,
pre,
textarea {
  border-radius: 6px;
  font-family: var(--font-family-mono);
  font-size: 16px;
}

input,
pre,
textarea {
  line-height: 1.333;
  margin: 12px auto 32px;
  outline: none;
  width: 100%;
}

code,
pre {
  font-style: normal;
}

input,
textarea {
  background-color: var(--input-bg);
  border: 1px solid var(--bg-tertiary);
  color: var(--color-secondary);
}

pre,
textarea {
  padding: 24px;
}

code {
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-tertiary);
  padding: 0 4px;
  line-height: 1;

  :not(.nightMode) .question & {
    color: var(--color-secondary);
  }

  :where(.type-hint, .bonus-type-hint, .input-title) & {
    font-size: 10px;
  }

  .input-title & {
    background-color: var(--bg-quaternary);
    border-color: var(--bg-quaternary);
    color: var(--color-secondary);
  }

  .input-faux-placeholder & {
    background-color: var(--bg-primary);
    border-color: var(--bg-secondary);
  }

  .output-answer & {
    background-color: var(--bg-tertiary);
    border-color: var(--bg-quaternary);
  }

  .notes-content & {
    background-color: var(--bg-tertiary);
    border-color: var(--bg-quaternary);
  }
}

input {
  padding: 12px;
}

pre {
  background-color: var(--pre-bg);
  color: var(--pre-color);
  padding: 24px;
  text-align: left;
  white-space: pre-wrap;
}

/* pre code {
  background: transparent;
  border: none;
  color: var(--pre-color);
  padding: 0;
} */

textarea {
  display: block;
  height: 156px;

  &.has-title {
    border-top: 0;
    border-radius: 0 0 6px 6px;
    margin-top: 0;
    padding: 16px 24px;
  }
}

textarea::placeholder {
  color: var(--color-tertiary);
  font-family: var(--font-family-primary);
  font-size: 18px;
  line-height: 1.4;
}

table {
  width: 100% !important;

  & pre {
    margin: 0;
  }
}

:not(.card-inner):not(.topic) {
  zoom: 1 !important;
}

body {
  background-color: var(--bg-primary) !important;
  color: var(--color-primary) !important;
  font-family: var(--font-family-primary);
  font-size: 20px;
  line-height: 1.4;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.topic {
  align-items: center;
  background-color: var(--bg-tertiary);
  color: var(--color-tertiary);
  display: flex;
  height: 40px;
  justify-content: center;
}

.card {
  background-color: var(--bg-primary);
}

.card-inner {
  padding: 32px calc(50% - 320px);

  @media only screen and (max-width: 704px) {
    padding: 32px;
  }
}

.cloze {
  color: var(--cloze-color);
  font-weight: bold;
}

.question,
.bonus-question {
  padding-bottom: 12px;
}

/* .card-front .question {
  margin: 0 -60px;
  width: calc(100% + 120px);

  @media only screen and (max-width: 704px) {
    margin: 0 ;
    width: 100%;
  }
} */

.bonus-question {
  color: var(--color-secondary);
  font-size: 18px;
}

.type-hint,
.bonus-type-hint {
  color: var(--color-tertiary);
  font-size: 12px;
  font-style: italic;
  /* padding-top: 6px; */
  padding-bottom: 4px;
}

/* TITLE STYLES */
.input-title,
.output-title,
.notes-title {
  border-radius: 6px 6px 0 0;
  color: var(--color-tertiary);
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
}

.input-title,
.output-title {
  background-color: var(--bg-tertiary);
  padding: 4px 24px;
}

.is-primary .input-title {
  margin-top: 12px;
}

.output-title.is-comparison {
  display: none;
}

/* INPUT STYLES */
.input-container {
  margin: 0 auto 48px;
}

.input-textarea-container {
  background-color: var(--input-bg);
  border-radius: 0 0 6px 6px;
  position: relative;

  & textarea {
    position: relative;
    background: transparent;
    z-index: 1;
  }
}

.input-faux-placeholder {
  color: var(--color-tertiary);
  font-size: 18px;
  padding: 16px 24px;
  position: absolute;
  text-align: left;
  top: 0;
}

.input-faux-placeholder .input-comparison,
.input-type-hint {
  font-weight: normal;
  text-transform: none;
}

/* STYLE: OUTPUT  */
.output-container {
  margin: 12px auto 48px;

  &:not(.is-comparison) {
    --side-by-side-width: 960px;
    --margin-offset: calc((100% - var(--side-by-side-width)) / 2);

    width: var(--side-by-side-width);
    margin-inline-start: var(--margin-offset);

    @media only screen and (max-width: 1024px) {
      --side-by-side-width: calc(100vw - 64px);
      --margin-offset: calc((var(--side-by-side-width) - 100%) / -2);
    }

    @media only screen and (max-width: 688px) {
      margin-inline: auto;
      width: 100%;
    }
  }

  &.is-comparison {
    border: none;

    & .output-col {
      display: none;
    }
  }

  &.active {
    display: flex;

    @media only screen and (max-width: 640px) {
      display: block;
    }
  }
}

.output-col {
  background-color: var(--bg-secondary);
  border-radius: 6px;
  border: 1px solid var(--bg-tertiary);
  color: var(--color-secondary);
  font-size: 18px;
}

.output-data,
.output-answer {
  padding: 24px;
}

.output-data,
.output-answer,
.notes-content {
  /* white-space: pre-line; */
  text-align: left;
}

/* STYLE: COMPARISON OUTPUT  */
.output-comparison-title {
  background-color: var(--bg-tertiary);
  border-radius: 6px 6px 0 0;
  color: var(--color-tertiary);
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 4px 24px 2px;
  text-transform: uppercase;
}

.output-comparison-pre {
  border-radius: 0 0 6px 6px;
  margin: 0;
}

/* STYLE: NOTES */
.notes-container {
  background-color: var(--notes-bg);
  border: 1px solid var(--bg-tertiary);
  border-radius: 6px;
  color: var(--color-tertiary);
  font-size: 18px;
  margin: 12px auto 32px;
  text-align: left;
}

.notes-title {
  color: var(--color-quaternary);
  padding: 12px 24px 0;
}

.notes-content {
  padding: 12px 24px 24px;
}

/* OTHER STYLES */
.replay-button {
  margin: 12px;
}

/* TOGGLE VIEWS */
.type-hint,
.bonus-type-hint,
.input-container,
.is-primary .input-title,
.bonus-question,
.output-container,
.notes-container,
.input-faux-placeholder.inactive,
.output-title.inactive,
.output-title span.inactive,
.output-data.inactive,
.output-answer.inactive {
  display: none;
}

.type-hint.active,
.bonus-type-hint.active,
.bonus-question.active,
.input-container.active,
.is-primary .input-title.active,
.notes-container.active {
  display: block;
}

/* DEFAULT ANKI OUTPUT ELEMENTS */
code#typeans {
  background-color: var(--pre-bg);
  border: none;
  color: var(--pre-color);
  display: block;
  margin: 12px auto 48px;
  padding: 24px;
  text-align: left;
}

input#typeans {
  background-color: var(--input-bg);
  border: 1px solid var(--bg-tertiary);
  color: var(--color-secondary);
}

hr#answer {
  border-color: var(--bg-secondary);
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  margin: 24px 0;
}

#typearrow {
  color: var(--pre-color);
  padding: 4px 0;

  .nightMode & {
    background-color: transparent;
  }
}

.typeBad,
.typeGood,
.typeMissed {
  color: var(--type-color);
}
.typeBad {
  background: var(--type-bad-bg);
}
.typeGood {
  background: var(--type-good-bg);
}
.typeMissed {
  background: var(--type-missed-bg);
}

/* DEFAULT ANKIWEB ELEMENTS */
body > div:not(#qa) {
  nav.navbar {
    margin-bottom: 0 !important;
  }

  main.container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;

    #quiz {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background-color: #eee;
      border-top: 1px solid #ddd;

      .float-start,
      .float-end,
      #ansarea-pad,
      #ansarea {
        padding: 1rem;
      }

      .pt-1,
      .pt-3 {
        display: none;
      }

      #ansarea-pad {
        background-color: var(--bg-primary);
      }

      #qa_box {
        #qa {
          margin: 0;
        }
      }

      #ansarea {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .form-group {
      margin: 0;
    }
  }
}

/* DEFAULT ANKIDROID ELEMENTS */
#content {
  margin: 0;
}
