:root {
  --syntax-blue: #92c1fd; /* types */
  --syntax-cyan: #89dfdf; /* functions */
  --syntax-gray-dark: #7a7a7a; /* comments */
  --syntax-gray-medium: #929292; /* punctuation */
  --syntax-gray-light: #c4c4c4; /* source */
  --syntax-gray-light-white: #d1d1d1; /* defaultLibrary */
  --syntax-gray-white: #f8f8f8; /* builtin */
  --syntax-green: #a2cd8b; /* properties */
  --syntax-orange: #eeae7b; /* parameters */
  --syntax-pink: #fcb7cb; /* variables */
  --syntax-purple: #d6aaea; /* constants */
  --syntax-purple-deep: #bd84d7; /* namespaces */
  --syntax-red: #ef9182; /* keywords */
  --syntax-red-deep: #db6656; /* errors */
  --syntax-yellow: #efddac; /* strings */
}

/* pre { line-height: 125%; } */
/* td.linenos .normal { color: inherit; background-color: transparent; padding-left: 15px; padding-right: 15px; } */
/* span.linenos { color: inherit; background-color: transparent; padding-left: 15px; padding-right: 15px; } */
/* td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 15px; padding-right: 15px; } */
/* span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 15px; padding-right: 15px; } */

.shigeSyntax {
  padding: 0 !important;
}

/* BOLD */
.shigeSyntax .ges, /* Generic.EmStrong */
.shigeSyntax .gs /* Generic.Strong */ {
  font-weight: bold;
}

/* ITALIC */
.shigeSyntax .bp, /* Name.Builtin.Pseudo */
.shigeSyntax .ge /* Generic.Em */ {
  font-style: italic;
}

/* GRAY-DARK */
.shigeSyntax .c, /* Comment */
.shigeSyntax .c1, /* Comment.Single */
.shigeSyntax .ch, /* Comment.Hashbang */
.shigeSyntax .cm, /* Comment.Multiline */
.shigeSyntax .cs, /* Comment.Special */
.shigeSyntax .gh, /* Generic.Heading */
.shigeSyntax .gu, /* Generic.Subheading */
.shigeSyntax .sd /* Literal.String.Doc */ {
  color: var(--syntax-gray-dark);
  font-style: italic;
}

/* GRAY-MEDIUM */
.shigeSyntax .gp, /* Generic.Prompt */
.shigeSyntax .p, /* Punctuation */
.shigeSyntax .si, /* Literal.String.Interpol */
.shigeSyntax .sx /* Literal.String.Other */ {
  color: var(--syntax-gray-medium);
}

/* GRAY-LIGHT */
.shigeSyntax .go, /* Generic.Output */
.shigeSyntax .gt, /* Generic.Traceback */
.shigeSyntax .x  /* base source */ {
  color: var(--syntax-gray-light);
}

/* GRAY-LIGHT-WHITE*/
.shigeSyntax .nb /* Name.Builtin */ {
  color: var(--syntax-gray-light-white);
}

/* GRAY-WHITE */
.shigeSyntax .fm, /* Name.Function.Magic */
.shigeSyntax .nd, /* Name.Decorator */
.shigeSyntax .ne, /* Name.Exception */
.shigeSyntax .sa /* Literal.String.Affix, such as an f-string in Python */ {
  color: var(--syntax-gray-white);
}

/* BLUE */
.shigeSyntax .kd, /* Keyword.Declaration */
.shigeSyntax .kt /* Keyword.Type */ {
  color: var(--syntax-blue);
}

/* CYAN */
.shigeSyntax .nc, /* Name.Class */
.shigeSyntax .nf, /* Name.Function */
.shigeSyntax .nx /* Name.Other */ {
  color: var(--syntax-cyan);
}

/* GREEN */
.shigeSyntax .gi, /* Generic.Inserted */
.shigeSyntax .na, /* Name.Attribute */
.shigeSyntax .nl /* Name.Label */ {
  color: var(--syntax-green);
}

/* ORANGE */
.shigeSyntax .bp, /* Name.Builtin.Pseudo... such as `self` */
.shigeSyntax .cp, /* Comment.Preproc */
.shigeSyntax .cpf /* Comment.PreprocFile */ {
  color: var(--syntax-orange);
}

/* PINK */
.shigeSyntax .n, /* Name*/
.shigeSyntax .nv, /* Name.Variable */
.shigeSyntax .vc, /* Name.Variable.Class */
.shigeSyntax .vg, /* Name.Variable.Global */
.shigeSyntax .vi, /* Name.Variable.Instance */
.shigeSyntax .vm /* Name.Variable.Magic */ {
  color: var(--syntax-pink);
}

/* PURPLE */
.shigeSyntax .kc, /* Keyword.Constant */
.shigeSyntax .kp, /* Keyword.Pseudo */
.shigeSyntax .m, /* Literal.Number */
.shigeSyntax .mb, /* Literal.Number.Bin */
.shigeSyntax .mf, /* Literal.Number.Float */
.shigeSyntax .mh, /* Literal.Number.Hex */
.shigeSyntax .mi, /* Literal.Number.Integer */
.shigeSyntax .mo, /* Literal.Number.Oct */
.shigeSyntax .ni, /* Name.Entity */
.shigeSyntax .no, /* Name.Constant */
.shigeSyntax .se, /* Literal.String.Escape */
.shigeSyntax .sr, /* Literal.String.Regex */
.shigeSyntax .ss /* Literal.String.Symbol */ {
  color: var(--syntax-purple);
}

/* PURPLE BRIGHT */
.shigeSyntax .dl, /* Literal.String.Delimiter */
.shigeSyntax .il, /* Literal.Number.Integer.Long */
.shigeSyntax .nn /* Name.Namespace */ {
  color: var(--syntax-purple-deep);
}

/* RED */
.shigeSyntax .gd, /* Generic.Deleted */
.shigeSyntax .gr, /* Generic.Error */
.shigeSyntax .k, /* Keyword */
.shigeSyntax .kn, /* Keyword.Namespace */
.shigeSyntax .kr, /* Keyword.Reserved */
.shigeSyntax .nt, /* Name.Tag */
.shigeSyntax .o, /* Operator */
.shigeSyntax .ow /* Operator.Word */ {
  color: var(--syntax-red);
}

/* RED BRIGHT - BORDER */
.shigeSyntax .err /* Error */ {
  border: 1px solid var(--syntax-red-deep);
}

/* YELLOW */
.shigeSyntax .s,  /* Literal.String */
.shigeSyntax .s1, /* Literal.String.Single */
.shigeSyntax .s2, /* Literal.String.Double */
.shigeSyntax .sb, /* Literal.String.Backtick */
.shigeSyntax .sc,  /* Literal.String.Char */
.shigeSyntax .sh /* Literal.String.Heredoc */ {
  color: var(--syntax-yellow);
}
