:root {
  /* COMMAND LINE BRAND COLOR #242424 */
  --brand-color-l: 26%;
  --brand-color-c: 0;
  --brand-color-h: 0;

  /* DEFAULT VARIABLES */
  --bg-primary: oklch(
    calc(var(--brand-color-l) + 60%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-secondary: oklch(
    calc(var(--brand-color-l) + 50%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-tertiary: oklch(
    calc(var(--brand-color-l) + 40%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-quaternary: oklch(
    calc(var(--brand-color-l) + 35%)
    var(--brand-color-c)
    var(--brand-color-h)
  );

  --color-primary: oklch(
    calc(var(--brand-color-l) + 15%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --color-secondary: oklch(
    calc(var(--brand-color-l) + 10%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --color-tertiary: oklch(
    calc(var(--brand-color-l) + 20%)
    var(--brand-color-c)
    var(--brand-color-h)
  );

  --input-bg: oklch(
    calc(var(--brand-color-l) + 65%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --notes-bg: oklch(
    calc(var(--brand-color-l) + 55%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --pre-bg: oklch(
    calc(var(--brand-color-l) + 6%)
    var(--brand-color-c)
    var(--brand-color-h)
  );

  /* NIGHTMODE VARIABLES */
  --bg-primary--nightmode: oklch(
    calc(var(--brand-color-l) + 0%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-secondary--nightmode: oklch(
    calc(var(--brand-color-l) + 5%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-tertiary--nightmode: oklch(
    calc(var(--brand-color-l) + 10%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-quaternary--nightmode: oklch(
    calc(var(--brand-color-l) + 50%)
    var(--brand-color-c)
    var(--brand-color-h)
  );

  --color-primary--nightmode: oklch(
    calc(var(--brand-color-l) + 40%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --color-secondary--nightmode: oklch(
    calc(var(--brand-color-l) + 45%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --color-tertiary--nightmode: oklch(
    calc(var(--brand-color-l) + 35%)
    var(--brand-color-c)
    var(--brand-color-h)
  );

  --input-bg--nightmode: oklch(
    calc(var(--brand-color-l) + 15%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --notes-bg--nightmode: oklch(
    calc(var(--brand-color-l) + 5%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --pre-bg--nightmode: oklch(
    calc(var(--brand-color-l) - 5%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
}
