/* Used for the Syntax Highlighting addon: https://ankiweb.net/shared/info/566351439 */

:root {
  /* CASSIDY DARK SYNTAX COLORS */
  --syntax-blue: #92c1fd;           /* types */
  --syntax-cyan: #89dfdf;           /* functions */
  --syntax-gray-dark: #7a7a7a;      /* comments */
  --syntax-gray-medium: #929292;    /* punctuation */
  --syntax-gray-light: #c4c4c4;     /* source */
  --syntax-gray-white: #f8f8f8;     /* builtin */
  --syntax-green: #a2cd8b;          /* properties */
  --syntax-orange: #eeae7b;         /* parameters */
  --syntax-pink: #fcb7cb;           /* variables */
  --syntax-purple: #d6aaea;         /* constants */
  --syntax-purple-deep: #bd84d7;    /* namespaces */
  --syntax-red: #ef9182;            /* keywords */
  --syntax-red-deep: #db6656;       /* errors */
  --syntax-yellow: #efddac;         /* strings */

  --theme-bg: #242424;
}

/* SYNTAX HIGHLIGHTING ADDON WITH CLASSES */

/* HIGHLIGHT OVERRIDES */
.highlight pre {
  background-color: var(--theme-bg);
}

/* GRAY-DARK */
.highlight .c,  /* Comment */
.highlight .c1, /* Comment.Single */
.highlight .cm, /* Comment.Multiline */
.highlight .ch, /* Shebang */
.highlight .sd  /* Literal.String.Doc */
{
  color: var(--syntax-gray-dark);
  font-style: italic;
}

/* GRAY-MEDIUM */
.highlight .p /* Punctuation */
{
  color: var(--syntax-gray-medium);
}

/* GRAY-LIGHT */
.highlight .x  /* base source */
{
  color: var(--syntax-gray-light);
}

/* GRAY-WHITE */
.highlight .bp, /* Name.Builtin.Pseudo */
.highlight .fm, /* Function.Magic */
.highlight .nb, /* Name.Builtin */
.highlight .ne, /* Name.Exception */
.highlight .nl  /* Name.Label */
{
  color: var(--syntax-gray-white);
}

/* BLUE */
.highlight .kd, /* Keyword.Declaration */
.highlight .kr, /* Keyword.Reserved */
.highlight .kt, /* Keyword.Type */
.highlight .sa  /* Literal.String.???? Raw? */
{
  color: var(--syntax-blue);
}

/* CYAN */
.highlight .nc, /* Name.Class */
.highlight .nf, /* Name.Function */
.highlight .ni, /* Name.???? */
.highlight .nx  /* Name.Other */
{
  color: var(--syntax-cyan);
}

/* GREEN */
.highlight .na  /* Name.Attribute */
{
 color: var(--syntax-green);
}

/* ORANGE */
.highlight .cp  /* Comment.Preproc */
{
  color: var(--syntax-orange);
}

/* PINK */
.highlight .n,  /* Name*/
.highlight .nv, /* Name.Variable */
.highlight .si /* Literal.String.Interpol */
{
  color: var(--syntax-pink);
}

/* PURPLE */
.highlight .kc, /* Keyword.Constant */
.highlight .m,  /* Literal.Number */
.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .mo, /* Literal.Number.Oct */
.highlight .no, /* Name.Constant */
.highlight .se, /* Literal.String.Escape */
.highlight .sr  /* Literal.String.Regex */
{
  color: var(--syntax-purple);
}

/* PURPLE BRIGHT */
.highlight .nn /* Name.Namespace */
{
  color: var(--syntax-purple-deep);
}

/* RED */
.highlight .k,  /* Keyword */
.highlight .kn, /* Keyword.Namespace */
.highlight .nt, /* Name.Tag */
.highlight .o,  /* Operator */
.highlight .ow  /* Operator.Word */
{
  color: var(--syntax-red);
}

/* RED BRIGHT - BORDER */
.highlight .err /* Error */
{
  border: 1px solid var(--syntax-red-deep);
}

/* YELLOW */
.highlight .s,  /* Literal.String */
.highlight .s1, /* Literal.String.Single */
.highlight .s2, /* Literal.String.Double */
.highlight .sb, /* Literal.String.Backtick */
.highlight .sc  /* Literal.String.Char */
{
  color: var(--syntax-yellow);
}

/* MISSING SYNTAX CHECKS */
.highlight .cs,  /* Comment.Special */
.highlight .gd, /* Generic.Deleted */
.highlight .ge, /* Generic.Emph */
.highlight .gr, /* Generic.Error */
.highlight .gh, /* Generic.Heading */
.highlight .gi, /* Generic.Inserted */
.highlight .go, /* Generic.Output */
.highlight .gp, /* Generic.Prompt */
.highlight .gs, /* Generic.Strong */
.highlight .gu, /* Generic.Subheading */
.highlight .gt, /* Generic.Traceback */
.highlight .hll,
.highlight .il, /* Literal.Number.Integer.Long */
.highlight .kp, /* Keyword.Pseudo */
.highlight .nd, /* Name.Decorator */
.highlight .sh, /* Literal.String.Heredoc */
.highlight .sx, /* Literal.String.Other */
.highlight .ss, /* Literal.String.Symbol */
.highlight .vc, /* Name.Variable.Class */
.highlight .vg, /* Name.Variable.Global */
.highlight .vi, /* Name.Variable.Instance */
.highlight .w   /* Text.Whitespace */
{
  color: #00f;
}
