@import url("_my-custom-style.css");

:root {
  /* JAVASCRIPT BRAND COLOR #f0db4f */
  --brand-color-h: 52;
  --brand-color-s: 84%;
  --brand-color-l: 63%;

  /* NORMAL VARIABLES */
  --bg-primary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 30% ));
  --bg-secondary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 22.5% ));
  --bg-tertiary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 15% ));
  --bg-quaternary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 7.5% ));

  --color-primary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 40% ));
  --color-secondary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 32.5% ));
  --color-tertiary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 25% ));

  --notes-bg: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 26.25% ));
  --input-bg: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 35% ));
  --pre-bg: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 55% ));

  /* NIGHTMODE VARIABLES */
  --bg-primary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 50% ));
  --bg-secondary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 45% ));
  --bg-tertiary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 40% ));
  --bg-quaternary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 35% ));

  --color-primary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 25% ));
  --color-secondary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 27.5% ));
  --color-tertiary-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 30% ));

  --notes-bg-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 47.5% ));
  --input-bg-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 55% ));
  --pre-bg-nightmode: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 55% ));
}
