# EXCLUDE EVERYTHING EXCEPT CUSTOM ASSETS
*

# KEEP THE FOLLOWING ROOT COLLECTION.MEDIA FILES
!_my-custom-script.js
!_my-custom-style.css
!_diff_match_patch.js
!_inconsolata-regular.*
!readme.md
!.gitignore

# KEEP ALL DIRECTORY FILES
!*/
!*/**

# IGNORE FILE TYPES
*.DS_store

