# EXCLUDE EVERYTHING EXCEPT CUSTOM ASSETS
*

# KEEP THE FOLLOWING ROOT COLLECTION.MEDIA FILES
!_diff_match_patch.js
!_global.css
!_global.js
!_inconsolata-regular.*
!readme.md
!.gitignore

# KEEP ALL DIRECTORY FILES
!*/
!*/**

# IGNORE THE FOLLOWING DIRECTORIES
--dev-assets

# IGNORE FILE TYPES
*.DS_store

