:root {
  --brand-color-h: 0;
  --brand-color-s: 0%;
  --brand-color-l: 50%;

  --bg-primary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 50% ));
  --bg-secondary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 45% ));
  --bg-tertiary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 40% ));

  --border-primary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 40% ));
  --border-secondary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 35% ));

  --color-primary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 20% ));
  --color-secondary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) - 10% ));
  --color-tertiary: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 10% ));

  --notes-bg: hsl(var(--brand-color-h), var(--brand-color-s), calc(var(--brand-color-l) + 47.5% ));
  --pre-color: hsl(0, 0%, 75%);

  --font-family-primary: arial, sans-serif;
  --font-family-mono: 'Inconsolata', 'monospace', monospace;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('_inconsolata-regular.woff2') format('woff2'),
       url('_inconsolata-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div {
  margin: 0 auto;
}

a {
  text-decoration: underline;
}

code,
pre,
input,
textarea {
  border-radius: 5px;
  font-family: var(--font-family-mono);
  font-size: 20px;
}
code,
input,
textarea {
  border: 1px solid var(--border-primary);
  color: var(--color-secondary);
}
pre,
input,
textarea {
  line-height: 1.333;
  margin: 10px auto 30px;
  outline: none;
  width: 100%;
}
code,
pre {
  font-style: normal;
}
pre,
textarea {
  padding: 20px;
}
code {
  background-color: var(--bg-secondary);
  padding: 2px 4px;
  margin: 0;
}
input {
  padding: 15px 20px;
}
pre {
  background-color: hsl(0,0%,15%);
  color: var(--pre-color);
  padding: 20px;
  text-align: left;
  white-space: pre-wrap;
}
pre code {
  background: transparent;
  border: none;
  color: var(--pre-color);
  padding: 0;
}
textarea {
  height: 150px;
}
textarea::placeholder {
  color: var(--color-tertiary);
  font-family: var(--font-family-primary);
  font-size: 18px;
  line-height: 1.4;
}
textarea.has-title {
  border-top: 0;
  border-radius: 0 0  5px 5px;
  margin-top: 0;
  padding: 15px 20px;
}

.card {
  background-color: var(--bg-primary);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: center;
}

.topic {
  background-color: var(--bg-tertiary);
  color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.card-inner {
  padding: 30px calc(50% - 360px);
}
@media only screen and (max-width: 680px) {
  .card-inner {
    padding: 30px 20px;
  }
}

.cloze {
  color: hsl(240, 100%, 50%);
  font-weight: bold;
}

.question {
  padding-bottom: 10px;
}

.type-hint {
  color: var(--color-tertiary);
  font-size: 12px;
  font-style: italic;
  padding-bottom: 5px;
}

.box-title,
.box-title-inner,
.input-title,
.notes-title {
  color: var(--color-tertiary);
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
}
.box-title,
.input-title,
.notes-title {
  border-radius: 5px 5px 0 0;
}
.box-title,
.box-title-inner,
.input-title {
  background-color: var(--bg-tertiary);
  padding: 4px 20px;
}
.notes-title {
  padding: 10px 20px 0;
}

.box,
.notes-box {
  border-radius: 5px;
  font-size: 18px;
  margin: 0 auto 30px;
}
.box {
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-tertiary);
  color: var(--color-secondary);
}
.notes-box {
  background-color: var(--notes-bg);
  border: 1px solid var(--bg-secondary);
  color: var(--color-tertiary);
}
.box code {
  background-color: var(--bg-tertiary);
  border-color: var(--border-secondary);
}
.notes code {
  color: var(--color-tertiary);
}
.notes.long {
  text-align: left;
}

.input-wrap {
  margin: 0 auto 30px;
}
.input-wrap.is-primary .input-title {
  margin-top: 10px;
}

.input-inner-wrap {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.input-inner-wrap textarea {
  position: absolute;
  background: transparent;
  height: 100px;
  left: 0;
  z-index: 1;
}
.input-inner-wrap .faux-placeholder {
  color: var(--color-tertiary);
  font-family: var(--font-family-primary);
  font-size: 18px;
  position: absolute;
  padding: 15px 20px;
  text-align: left;
}
.input-inner-wrap .faux-placeholder code {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-secondary);
  color: var(--color-tertiary);
}
.is-comparison:before,
.is-type-hint:before {
  content: '\2022';
  margin: 0 6px;
}
.is-comparison,
.is-type-hint {
  font-weight: normal;
  text-transform: none;
}

input,
textarea,
.input-wrap {
  max-width: 600px;
}
code#typeans,
.output-wrap,
.notes-box {
  max-width: 640px;
}

.output-data,
.answer,
.notes {
  padding: 20px;
}

.input-wrap,
.input-wrap.is-primary .input-title,
.faux-placeholder.inactive {
  display: none;
}

.input-wrap.active,
.input-wrap.is-primary .input-title.active {
  display: block;
}

.replay-button {
  margin: 10px;
}


/* DEFAULT ANKI ELEMENTS */
.card-inner textarea {
  display: block;
}

.card-inner center {
  line-height: 0;
}

.card-inner code#typeans {
  background-color: hsl(0,0%,15%);
  border: none;
  color: var(--pre-color);
  display: block;
  margin: 10px auto 30px;
  padding: 20px;
  text-align: left;
}

.card-inner hr#answer {
  border-color: var(--bg-secondary);
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  margin: 20px 0;
}

.card-inner #typearrow {
  padding: 4px 0;
}

/* ANSWER COMPARISON STYLES */

.typeBad,
.typeGood,
.typeMissed,
.typedCorrect,
.typedIncorrect,
.typedMissing {
  color: #666;
}
.typeBad,
.typedIncorrect {
  background: #ff9999;
}
.typeGood,
.typedCorrect {
  background: #b2ffb2;
}
.typeMissed,
.typedMissing {
  background: #d1d1d1;
}

/* CODE SYNTAX HIGHLIGHTING ADD-ON STYLES */

/* OFF-WHITE */
.p,
.o,
.ow,
.x {
  color: var(--pre-color);
}

/* BLUE */
.nx,
.kd,
.kc,
.n,
.no {
  color: #78DCE8;
}

/* GRAY */
.c,
.cm,
.c1,
.sd {
  color: #646464;
  font-style: italic;
}

/* GREEN */
.kr,
.na,
.nc,
.nd,
.s {
  color: #A9DC76;
}

/* ORANGE */
.cp {
  color: #FC9867;
}

/* PINK */
.nb,
.nv {
  color: #F3B4C5;
}

/* PURPLE */
.mi,
.kt {
  color: #AB9DF2;
}

/* RED */
.k,
.nt {
  color: #FF6188;
}

/* RED ERROR */
.err {
  color: #f00;
}

/* YELLOW */
.s1,
.s2 {
  color: #E6DB74;
}
