:root {
  /* PYTHON BRAND COLOR #4583b5 */
  --brand-color-l: 59%;
  --brand-color-c: 0.1;
  --brand-color-h: 245;

  /* ADDITION 0.002 * 10% */
  /* SUBTRACTION 0.0018 * 10% */

  /* DEFAULT VARIABLES */
  --bg-primary: oklch(
    calc(var(--brand-color-l) + 36%)
    calc(var(--brand-color-c) - 0.072)
    var(--brand-color-h)
  );
  --bg-secondary: oklch(
    calc(var(--brand-color-l) + 31%)
    calc(var(--brand-color-c) - 0.062)
    var(--brand-color-h)
  );
  --bg-tertiary: oklch(
    calc(var(--brand-color-l) + 26%)
    calc(var(--brand-color-c) - 0.052)
    var(--brand-color-h)
  );
  --bg-quaternary: oklch(
    calc(var(--brand-color-l) + 21%)
    calc(var(--brand-color-c) - 0.042)
    var(--brand-color-h)
  );

  --color-primary: oklch(
    calc(var(--brand-color-l) - 39%)
    calc(var(--brand-color-c) - 0.0702)
    var(--brand-color-h)
  );
  --color-secondary: oklch(
    calc(var(--brand-color-l) - 29%)
    calc(var(--brand-color-c) - 0.0522)
    var(--brand-color-h)
  );
  --color-tertiary: oklch(
    calc(var(--brand-color-l) - 19%)
    calc(var(--brand-color-c) - 0.0342)
    var(--brand-color-h)
  );

  --input-bg: oklch(
    calc(var(--brand-color-l) + 39%)
    calc(var(--brand-color-c) - 0.078)
    var(--brand-color-h)
  );
  --notes-bg: oklch(
    calc(var(--brand-color-l) + 33.5%)
    calc(var(--brand-color-c) - 0.067)
    var(--brand-color-h)
  );
  --pre-bg: oklch(
    calc(var(--brand-color-l) - 44%)
    calc(var(--brand-color-c) - 0.08)
    var(--brand-color-h)
  );

  /* TODO: Update nightmode colors values */

  /* NIGHTMODE VARIABLES */
  --bg-primary--nightmode: oklch(
    calc(var(--brand-color-l) - 45%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-secondary--nightmode: oklch(
    calc(var(--brand-color-l) - 35%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-tertiary--nightmode: oklch(
    calc(var(--brand-color-l) - 25%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --bg-quaternary--nightmode: oklch(
    calc(var(--brand-color-l) - 15%)
    var(--brand-color-c)
    var(--brand-color-h)
  );

  --color-primary--nightmode: oklch(
    calc(var(--brand-color-l) + 20%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --color-secondary--nightmode: oklch(
    calc(var(--brand-color-l) + 15%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --color-tertiary--nightmode: oklch(
    calc(var(--brand-color-l) + 10%)
    var(--brand-color-c)
    var(--brand-color-h)
  );

  --input-bg--nightmode: oklch(
    calc(var(--brand-color-l) - 15%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --notes-bg--nightmode: oklch(
    calc(var(--brand-color-l) - 35%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
  --pre-bg--nightmode: oklch(
    calc(var(--brand-color-l) - 53%)
    var(--brand-color-c)
    var(--brand-color-h)
  );
}
