/* Field Content CSS */
/* This will affect field content, but not the fields and UI outside the fields. */

/* Use class .nightMode or .night_mode for night mode specific CSS */
/* Use the attribute selector mid for for note type specific CSS, e.g. [mid="1616909476324"] */

code,
pre {
  border-radius: 5px;
  font-family: inconsolata, menlo, monospace;
  font-style: normal;
}
code {
  background-color: #f7f7f7;
  border: 1px solid #dedede;
  color: #1f2225;
  padding: 2px 4px;
}
pre {
	background-color: #232323;
  color: #F0F0F0;
  line-height: 1.33;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
	white-space: pre-wrap;
}
pre code {
	background: transparent;
	border: none;
  color: #F0F0F0;
  line-height: 1.33;
	padding: 0;
}

table {
  max-width: 780px;
  width: 100%;
}

/* CODE SYNTAX HIGHLIGHTING WITH CLASSES */

/* OFF-WHITE */
.p,
.o,
.ow,
.x {
  color: #BEBEBE;
}
/* BLUE */
.nx,
.kd,
.kc,
.n,
.no {
  color: #78DCE8;
}
/* GRAY */
.c,
.cm,
.c1,
.sd {
  color: #646464;
  font-style: italic;
}
/* GREEN */
.kr,
.na,
.nc,
.nd,
.s {
 color: #A9DC76;
}
/* ORANGE */
.cp {
  color: #FC9867;
}
/* PINK */
.nb,
.nv {
  color: #F3B4C5;
}
/* PURPLE */
.mi,
.kt {
  color: #AB9DF2;
}
/* RED */
.k,
.nt {
  color: #FF6188;
}
/* RED ERROR */
.err {
  color: #f00;
}

/* YELLOW */
.s1,
.s2 {
  color: #E6DB74;
}
