@import url('_global.css');
@import url('_styles_for_syntax_highlighting.css');

:root {
  /* PHP8 BRAND COLOR #4f5b93 */
  --brand-color-h: 229;
  --brand-color-s: 30%;
  --brand-color-l: 44%;

  /* DEFAULT VARIABLES */
  --input-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 55%)
  );
}
