@import url('_global.css');

:root {
  /* PYTHON BRAND COLOR #4583B5 */
  --brand-color-h: 207;
  --brand-color-s: 45%;
  --brand-color-l: 49%;

  /* DEFAULT VARIABLES */
  --bg-primary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 35%)
  );
  --bg-secondary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 30%)
  );
  --bg-tertiary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 25%)
  );
  --bg-quaternary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 10%)
  );

  --color-primary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 25%)
  );
  --color-secondary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 20%)
  );
  --color-tertiary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 10%)
  );

  --input-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 45%)
  );
  --notes-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 25%)
  );
  --pre-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 35%)
  );

  /* NIGHTMODE VARIABLES */
  --bg-primary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 35%)
  );
  --bg-secondary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 30%)
  );
  --bg-tertiary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 25%)
  );
  --bg-quaternary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 10%)
  );

  --color-primary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 15%)
  );
  --color-secondary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 20%)
  );
  --color-tertiary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 10%)
  );

  --input-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 30%)
  );
  --notes-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 30%)
  );
  --pre-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 45%)
  );
}
