@import url('_global.css');

:root {
  /* REACT BRAND COLOR #61DBFB */
  --brand-color-h: 192;
  --brand-color-s: 95%;
  --brand-color-l: 68%;

  /* DEFAULT VARIABLES */
  --bg-primary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 27.5%)
  );
  --bg-secondary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 22.5%)
  );
  --bg-tertiary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 17.5%)
  );
  --bg-quaternary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 2.5%)
  );

  --color-primary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 55%)
  );
  --color-secondary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 50%)
  );
  --color-tertiary: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 45%)
  );

  --input-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 31%)
  );
  --notes-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 25%)
  );
  --pre-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 60%)
  );

  /* NIGHTMODE VARIABLES */
  --bg-primary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 50%)
  );
  --bg-secondary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 45%)
  );
  --bg-tertiary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 40%)
  );
  --bg-quaternary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 35%)
  );

  --color-primary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 5%)
  );
  --color-secondary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 0%)
  );
  --color-tertiary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 5%)
  );

  --input-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 35%)
  );
  --notes-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 47.5%)
  );
  --pre-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 63%)
  );
}
