@import url('_global.css');

:root {
  /* RUBY BRAND COLOR #cc342d */
  --brand-color-h: 3;
  --brand-color-s: 64%;
  --brand-color-l: 49%;

  /* DEFAULT VARIABLES */
  --pre-bg: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 45%)
  );

  /* NIGHTMODE VARIABLES */
  --bg-primary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 40%)
  );
  --bg-secondary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 35%)
  );
  --bg-tertiary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 30%)
  );
  --bg-quaternary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 25%)
  );

  --color-primary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 30%)
  );
  --color-secondary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 25%)
  );
  --color-tertiary--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) + 20%)
  );

  --input-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 25%)
  );
  --notes-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 37.5%)
  );
  --pre-bg--nightmode: hsl(
    var(--brand-color-h),
    var(--brand-color-s),
    calc(var(--brand-color-l) - 45%)
  );
}
